* {
    font-family: azonix;
}

.header {
    margin-top: 17vw;
    background-image: url('../images/sunset_basket.jpg') !important;


}

@font-face {
    font-family: azonix;
    src: url(Azonix.otf);
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.start-button p {
    order: 0;
    padding-top: 3px;
    flex-grow: 2;
    margin: 0px 0px 0px 0px;
    align-self: center;
    font-size: 48pt;
}

.start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit;
    background: none;
    color: black;
    border: 3px solid black;
    border-radius: 10px;
    position: fixed;
    margin-top: 160px;

}

.-button p {
    order: 0;
    padding-top: 3px;
    flex-grow: 2;
    margin: 0px 0px 0px 0px;
    align-self: center;
}

.fa {
    order: 1;
    align-self: center;
    margin-left: 10px;
    font-size: 100pt;
}

h1 {
    color: black;
}
footer {
    margin-left: 10px;
    color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}



