* {
    font-family: azonix;
}

.header {
    background-image: url('/CreativeProject/images/foggy_forest.jpg') !important;
}

@font-face {
    font-family: azonix;
    src: url(fonts/Azonix.otf) format("otf");
    font-weight: normal;
    font-style: normal;
}

.welcome_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 25px 0px 0px 0px;
}

.welcome_about p {
    font-family: azonix;
    padding-top: 15px;
    width: 50%;
    font-size: 15pt;
}

body {
    background-color: #1593b9;
}