.body {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}

.card_images {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
    padding-bottom: 20px;
}

.new-cards-button {
    margin-bottom: 30px;
    width: 200px;
    background: none;
    border: 3px solid black;
    border-radius: 10px;
}

.header {
    background-image: url('/CreativeProject/images/foggy_forest.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}

img {
    margin: 0px 0px 5px 5px;
}

.player_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 25px 0px 0px 0px;
}

.player_header h1 {
    color: #E1D9D1 !important
}

img:hover{
    transform: scale(1.05);
    border: 2px solid white;
    border-color: white;
}